/* Home.module.css */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color:#EEEFEF ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.escolha {
  text-align: center;
  margin-bottom: 300px;
}

.bemvindo {
  margin-bottom: 150px;
}

.baixo {
  display: flex;
  justify-content: center;
}

.construbutton {
  margin-right: 10px;
}

.button {
  background-color:#ffffff;
  border: none;
  padding: 30px 70px;
  border-radius: 20PX;
  cursor: pointer;
  transition: color 0.5s, transform 0.2s;
  border: 3px solid transparent;
}
.button:hover {
   
  border-color: grey;
}

.h1 {
  margin-bottom: 80px;
  color: #37393ab4;
}


/* Estilos para a imagem */

@media (max-width: 730px) {
  .body {
    flex-direction: column;
  }

  .bemvindo image {
    width: 100px;
  }
.baixo {
  margin-bottom: 100px;
  display: block;
}
  .escolha {
    flex-direction: column;
  }

  .button {
    padding: 30px;
  }
  .construbutton {
    position: relative;
    bottom: 20px;
    left: 5px;
  }

}

