/* Geral */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .closeButton {
    
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
.html{
    width: 100%;
    height: auto;
}

.body {
    margin: 0 !important; 
}
.bori {
    background: #EEEFEF;
    font-family: "Rubik", Sans-serif;
    font-weight: bold;
    margin: 0;
    scroll-behavior: smooth;
}




/* menu inicial pc */


.logo {
    width: 170px;
   margin-left: 40px;
   
}

.logo img{
   width: 170px;
    margin:0%;
    text-align: start;
   align-items: start;
   justify-content: start;
}

.header{
    width: 100%;
    height: 100px;
    text-align: center;
    font-weight: 540;
    font-size: 20px;
    background-color:  rgba(73, 64, 64, 0.027);
   
}

.header .a {
    color: #212C2D;
    text-decoration: none;
    display: inline;
}

.menupc ul li { display: inline ; 
   }

.menupc li a{
    text-align: end;
    display: inline;
    align-items: end;
    
}
.menupc .a {
    margin-left: 50px;
    cursor: pointer;
}
.menupc {
    position: relative;
    left: 100px;
    width: 70%;
    height: 100px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    
}
.menupc .a:hover{
    transition: all 0.4s ease;
     color:#FF5B4F;
   }
/* mercado */ 

.header .am {
    color: #212C2D;
    text-decoration: none;
    display: inline-block;
}

.menupc ul li { display: inline ; 
   }

.menupc li .am{
    text-align: end;
    display: inline;
    align-items: end;
    
}
.menupc .am {
    margin-left: 50px;
    cursor: pointer;
}
.menupc {
    width: 70%;
    margin-right: 15%;
    margin-left: 0%;
    height: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: start;
    
}
.menupc .am:hover{
    transition: all 0.4s ease;
     color:#0CAC1F;
   }

   /*////////////////////////*/
.header nav ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: contents;
    font-size: 20px;
    
}



/* estilo menu mobile */


/* pagina inicial */



.inicio {
    align-items: center;
    display: inline-flex;
   text-align: start;
    width: 90%;
    height: 900px;
   margin-right: 10%;
   margin-bottom: 0%;
  flex-direction: row-reverse;
   
}
.txtinicio {
    width: 50%;
    text-align:start;
}
.txtinicio .pe {
    font-size: 20px;
}
.colunaum {
    margin-top: 7%;
    width: 80%;
    height: 1000px;
    margin-right: 5%;
    margin-left: 17%;
}
.colunadois {
   width: 50%;
   margin-left: 0%;
}

.colunadois .img{
   width: 350px;
    position: relative;
   animation-duration: 3s;
   animation-name: slidein;
   
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 350px;
    }
  
    to {
      margin-left: 0%;
      width: 350px;
    }
  }

.linkes {
    width: 380px;
    position: relative;
    left: 12%;
    display: inline-flex;
    margin-top: 10%;
}

 .linkplay .img{
    width: 180px;
    cursor: pointer;
   text-align: end;
}


 .linkapple img{
    width: 180px;
    cursor: pointer;
}
.linkapple {
    position: relative;
    left: 30px;
}


.linkplay button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.linkplay  button:after {

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;

}

.linkplay   button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:#FF5B4F;
    transition: 3s;
    border-radius: 10rem;
    z-index: -1;
}

.linkplay   button:hover {
      color: #FF5B4F;
     
        
      
    }
    .linkplay   button:hover:before {
        width: 100%;
    }

    .linkapple button {
        display: inline-block;
        padding: .70rem 1.15rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        bottom: 2px;
    }
    
    .linkapple  button:after {
    
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: -2;
    
    }
    
    .linkapple   button:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color:#FF5B4F;
        transition: 3s;
        border-radius: 10rem;
        z-index: -1;
    }
    
    .linkapple   button:hover {
          color: #FF5B4F;
         
            
          
        }
        .linkapple   button:hover:before {
            width: 100%;
        }
    




.txtinicio {
    display: inline;
}
.txtinicio  .h2 {
    display: inline-block;
    margin-top: 70px;
    
    color: #546162;
    font-size: 60px;
    
}
.txtinicio span {
    display: inline;
    color:#FF5B4F;
    font-size: 70px;
}
/*/////////Mercado///////////////*/
.txtinicio .spanmerca {
    display: inline;
    color:#0CAC1F;
    font-size: 70px;
}

.linkplaymerca .img{
    width: 180px;
    cursor: pointer;
   text-align: end;
}


 .linkapplemerca img{
    width: 180px;
    cursor: pointer;
}
.linkapplemerca {
    position: relative;
    left: 30px;
}


.linkplaymerca button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.linkplaymerca  button:after {

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;

}

.linkplaymerca   button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:#0CAC1F;
    transition: 3s;
    border-radius: 10rem;
    z-index: -1;
}

.linkplaymerca   button:hover {
      color:#0CAC1F;
     
        
      
    }
    .linkplaymerca   button:hover:before {
        width: 100%;
    }

    .linkapplemerca button {
        display: inline-block;
        padding: .70rem 1.15rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        bottom: 2px;
    }
    
    .linkapplemerca  button:after {
    
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: -2;
    
    }
    
    .linkapplemerca   button:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color:#0CAC1F;
        transition: 3s;
        border-radius: 10rem;
        z-index: -1;
    }
    
    .linkapplemerca   button:hover {
          color:#0CAC1F;
         
            
          
        }
        .linkapplemerca   button:hover:before {
            width: 100%;
        }
    
/*////////////////////////*/
.txtinicio p{
    
    font-size: 30px;
    font-weight: 500;
    color: #546162;
    text-align:start;
    margin-top: 5px;
}




/* sobre nos */

.sobre {
   width: 100%;
    height: 800px;
    background-color: #fff;
    display:block;
}

.linha1 {
    width: 50%;
    margin-left: 25%;
    height: 50px;
    text-align: center;
}

.linha1 h4{
    font-weight:bold;
    color:#FF5B4F;
    font-size: 40px;
    position: relative;
    top: 80px;

}
/*///mercado/////*/
.linha1 .h4merca {
    color: #0CAC1F;
}

.icon1merca {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #EEEFEF;;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30%;
    display: flex;
    left: 105%;
    top: 12%;
}
.icon2merca {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #EEEFEF;;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30%;
    display: flex;
    left: 105%;
    top: 12%;
}
.icon3merca {
    top: 12%;
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #EEEFEF;;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30%;
    display: flex;
    right: 19%;
}
.icon4merca {
    top: 12%;
    right: 19%;
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #EEEFEF;;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30%;
    display: flex;
}

 .svg{
    text-align: center;
    margin: auto;
  
}
.icon1merca:hover svg path {
    stroke: #EEEFEF;
}

.icon2merca:hover svg path {
    stroke: #EEEFEF;
}

.icon3merca:hover svg path {
    stroke: #EEEFEF;
}

.icon4merca:hover svg path {
    stroke: #EEEFEF;
}

.icon1merca:hover {
    background-color: #0CAC1F;
}

.icon2merca:hover {
    background-color: #0CAC1F;
}

.icon3merca:hover {
    background-color: #0CAC1F;
}

.icon4merca:hover {
    background-color: #0CAC1F;
}


/*////////*/
.linha2 {
    margin-top: 5%;
    width: 100%;
    height: 700px;
    display: inline-flex;
}
.colunaone {
    width: 30%;
    
}
.colunatwo {
    width: 30%;
    margin-left: 10%;
    text-align: end;
    margin-right: 5%;
}
.colunatre {
    width: 30%;
    margin-right: 10%;
    text-align: start;
    margin-left: 5%;
}

.colunaone img {
    position: relative;
    left: 20%;
    width: 250px;
    margin-top: 70px;
}
 .escrito3 {
    text-align: start;
    
}
.escrito4 {
    text-align: start;
  
   position: relative;
  
}
.icon1 {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #EEEFEF;;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30%;
    display: flex;
    left: 105%;
    top: 12%;
}
.icon2 {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #EEEFEF;;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30%;
    display: flex;
    left: 105%;
    top: 12%;
}
.icon3 {
    top: 12%;
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #EEEFEF;;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30%;
    display: flex;
    right: 19%;
}
.icon4 {
    top: 12%;
    right: 19%;
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #EEEFEF;;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30%;
    display: flex;
}

 .svg{
    text-align: center;
    margin: auto;
  
}
.icon1:hover svg path {
    stroke: #EEEFEF;
}

.icon2:hover svg path {
    stroke: #EEEFEF;
}

.icon3:hover svg path {
    stroke: #EEEFEF;
}

.icon4:hover svg path {
    stroke: #EEEFEF;
}

.icon1:hover {
    background-color: #FF5B4F;
}

.icon2:hover {
    background-color: #FF5B4F;
}

.icon3:hover {
    background-color: #FF5B4F;
}

.icon4:hover {
    background-color: #FF5B4F;
}


.sobre h3 {
    font-size: 25px;
    color: #212C2D;
    font-weight: bold;
}

.sobre p {
    font-size: 25px;
    margin-top: 1px;
    color: #212c2d9c;
}

/* contato*/

.contato {
    width: 70%;
    height: 600px;
    background-color:  #EEEFEF;
    display: inline-flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 0%;
    
}
.txtfaixa {
    display: inline-block;
    width: 50%;
    text-align: start;
    height: 500px;
}
.contato h1{
   margin: 0%;
   font-weight:bold;
    text-align: start;
    font-size: 40px;
    color:#FF5B4F;
    display: flex;
    
}

.contato .h1merca {
    color: #0CAC1F;
}

.contato h3{
    display: flex;
    font-size: 20px;
    padding: 3px;
    text-align:start;
    color: #212C2D;
}

.menumobile {
    display: none;
}
    

.contato .classe{
     font-weight: bold;
     font-size: 25px;
     color: #FF5B4F;

}
.contato .classee{
    font-weight: bold;
    font-size: 25px;
    color: #FF5B4F;

}
.contato .classemerca{
    font-weight: bold;
    font-size: 25px;
    color:#0CAC1F;

}
.contato .classeemerca{
   font-weight: bold;
   font-size: 25px;
   color:#0CAC1F;

}

.classeemerca {
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
}            

.classee {
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
    }

.contato button {
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
     border: none;
    background-color:#FF5B4F;
    padding: 17px;
    width: 230px;
   text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.contato .mercabutton {
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
     border: none;
    background-color:#0CAC1F;
    padding: 17px;
    width: 230px;
   text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.txtfaixa .y {
    margin-right: 10PX;
}
.redes{
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    color: #212C2D;
    display: inline;
    text-align: end;
    
    
}
.redes a {
    text-decoration: none;
    text-align: end;
    display: inline-flex;
    color: #212C2D;
}

.redes a:hover {
    color: #FF5B4F;
}

.redes .amerca:hover {
    color:#0CAC1F;
}

.redes i {
    display: block;
    font-style: normal;
   
}

.x {
    margin-top: 10px;
    padding: 10px;
    
    border-radius: 50%;
    position: relative;
    top: 10%;
}

/* rodape */

.footer {
    text-align: center;
    background-color: #212C2D;
    width: 100%;
    height: 120px;
    position:unset;
    bottom: 0;
    left: 0;   
}

.footer p{
    color: #ffffff;
    padding-top: 20px;
}

.footer .redes i{
    color: #ffffff;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.menumbicon {
    display: none;
}


.logomobile {
    display: none;
}

/* responsividade */

@media (max-width: 730px) {

    .body {
        margin: 0 !important; 
    }

    @keyframes slidein {
        html {
            display:none;
        }
        
    }

    .logo {
        display: none;
    }
     
    .header {
        text-align: center;
        display: block;
    }

    .menupc {
        margin: 0;
       display: none;
       padding: 0%;
       
    }
    .menumbicon button{
        background-color:  rgba(73, 64, 64, 0.027);
        border:none;
       text-decoration: none;
       position: relative;
      bottom: 15px;
       border-radius: 30%;
      

    }

    .menumbicon {
        display: block;
        cursor: hand;
        cursor: pointer;
        margin-right: 20px;
        margin-top: -1px;
       
    }

    .menumbicon button{
        background-color: (73, 64, 64, 0.027);
    }
   
    .menumobile ul {
        display: flex;
        flex-direction: column;
        text-align: end;
        width: 80%;
        list-style-type: none;
       
    }

    .menumobile {
        position: relative;
        bottom: 20px;
    }
    .menumobile a {
        color: #212c2dad;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        top: 15px;
    }


    .mobilemenu .nav-link {
        cursor: pointer;
    }

    .menumobile .nav-item {
        display: block;
        
        
    }

    .menumobile a:hover {
        color: #FF5B4F;
    }
    .menumobile ul li {
        margin-bottom: 20px; 
      }
    .open {

        display: block;
        position: absolute;
        z-index: 1;
        background-color:#e2e2e2;
        width: 100%;
        padding-bottom: 20px;
        margin: 0%;
        padding-left: 0%;
        position: relative;
        animation-duration: 0.3s;
   animation-name: slidein;
   
}

/*mercado*/ 

.menumobile .aaa:hover {
    color:#0CAC1F;
}

/*/////////////////////*/
@keyframes slidein {
    from {
    right: 25%;
     
    }
  
    to {
     right: 0%;
     
    }
  }
    .header{
        width: 100%;
        height: 80px;
        display: block;
        text-align: end;
       justify-content: center;
       align-items: center;
    }

     .logomobile {
        position: relative;
        top: 20px;
        left: 40px;
        width: 20px;
       display: block;
       text-align: center ;
       justify-content: center;
       align-items: center;
    }
    .imglogo {
        width: 140px;
    }

    .inicio{
        width: 100%;
        position: relative;
        top: 80px;
        height:1100px;
        margin: 0%;
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .txtinicio{
        
        width: 80%;
       margin-left: 10%;

    }
    .txtinicio p {
        font-weight: 800;
    }
  
    .colunaum {
        position: relative;
        width: 80%;
        display: block;
        margin-left: 20%;
        bottom: 10px;
        
    }
    .colunadois {
        width: 20%;
        height: 450px;
        display: block;
       margin-left: 15%;
    }
    .colunadois .img {
        width: 250px;
        position: relative;
        left: 17%;
        animation: none;
    }
    .txtinicio .h2 {
        
        font-size: 40px;
        width: 100%;
        display: block;
    }
    .txtinicio span  {
        font-size: 40px;
    }
    .txtinicio .spanmerca  {
        font-size: 40px;
    }
    

    .pe p{
        width: 70%;
        font-size: 20px;
        text-align: center;
        align-items: center;
        
    }
    .linkes {
        width: 65%;
        height: 100px;
        display: block;
    }
    .linkapple {
        position: relative;
       top: 10px;
       left: -30px;
      
    }
    .linkplay {
        position: relative;
        right: 30px;
    }
    .linkapplemerca {
        position: relative;
       top: 10px;
       left: -30px;
      
    }
    .linkplaymerca {
        position: relative;
        right: 30px;
    }

    .sobre {
        margin-top: 40%;
        flex-direction:column-reverse;
        width: 100%;
        height:1900px;
        display: block;
    }
    .linha1 {
        width: 100%;
        height: 30px;
        display: inline;
    }
    .linha2 {
        width: 100%;
       
        display: inline-block;
        text-align: center;
    }
    .colunatwo {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        display: inline;
        text-align: center;
    }


    .colunatre {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        display: inline;
        text-align: center;
    }

    .escrito3 {
        text-align: center;
    }
    .escrito4 {
        text-align: center;
    }
    .colunaone {
       margin: auto;
       position: relative;
       right: 65px;
    }

    .colunaone img {
        width: 200px;
        margin: auto;
    }

    .icon1 {
     position: relative;
     left: 44%;
     top: -1%;
    }

    .icon2 {
        position: relative;
     left: 44%;
     top: -1%;
    }
    .icon3 {
        position: relative;
     left: 44%;
     top: -1%;
    }
    .icon4 {
        position: relative;
     left: 44%;
     top: -1%;
    }

    .icon1merca {
        position: relative;
        left: 44%;
        top: -1%;
       }
   
       .icon2merca {
           position: relative;
        left: 44%;
        top: -1%;
       }
       .icon3merca {
           position: relative;
        left: 44%;
        top: -1%;
       }
       .icon4merca {
           position: relative;
        left: 44%;
        top: -1%;
       }
    .contato {
        width: 80%;
        height:1000px;
        display: block;
        text-align: center;
       
    }
    .contato h3 {
        text-align: center;
    }
    .txtfaixa button {
        margin-right: 10%;
    }

    .txtfaixa {
        width: 60%;
        display: inline;
        
    }
    .txtfaixa h3 {
     text-align: start;
     position: relative;
     right: 20px;
      display: inline-block;
    }

 .contato h1 {
    text-align: center;
    display: flex;
    font-size: 35px;
    position: relative;
    right: 15px;
 }
 .classe {
    position: relative;
    right: 15px;
    margin-top: -10px;
    margin-bottom: -20px;
 }
 .classemerca {
    position: relative;
    right: 15px;
    margin-top: -10px;
    margin-bottom: -20px;
 }
 .classee {
    position: relative;
    top: 3px;
 }
 .y {
    position: relative;
    right: 25px;
    top: 25px;
 }
    .redes {
        width: 75%;
        margin-left: 7%;
        margin-top: 20%;
        display: block;
        text-align: center;
    }
      }
      @media only screen and (min-width: 1025px) and (max-width: 1320px)  {
        .header {
            text-align: start;
        }

        .menupc li a {
            text-align: start;
            
        }
        .menupc .a {
            margin-left: 50px;
        }
        .menupc  {
          
          width: 100%;
        }

        .header .a {
            display: inline;
        }

        .logo {
            margin-left: -40px;
        }
        .colunaone img {
            position: relative;
            left: 7%;
            width: 250px;
            margin-top: 70px;
        }
        .icon3 {
            margin-left: -20px;
        }

        .icon4 {
            margin-left: -20px;
            position: relative;
            top: 55px;
        }

        .escrito4 {
            position: relative;
            bottom: 30px;
        }
        .icon3merca {
            margin-left: -20px;
        }

        .icon4merca {
            margin-left: -20px;
            position: relative;
            top: 55px;
        }

      }



      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .logo img{
            width: 120px;
          position: absolute;
         left: 30px;
         margin-top: -20px;
         margin-left: 0;
          
        }
        .inicio {
            width: 100%;
            height: 900px;
        }

        .menupc {

            display: none;
        }
        .menumbicon button{
            background-color:  rgba(73, 64, 64, 0.027);
            border:none;
           text-decoration: none;
           position: relative;
           top: 25px;
           border-radius: 30%;
    
        }
    
        .menumbicon {
            display: inline;
            cursor: hand;
            cursor: pointer;
            margin-right: 20px;
            position: relative;
            left: 300px;
           
        }
    
        .menumbicon button{
            background-color: (73, 64, 64, 0.027);
        }
       
        .menumbicon button{
            background-color:  rgba(73, 64, 64, 0.027);
            border:none;
           text-decoration: none;
           position: relative;
          bottom: 15px;
           border-radius: 30%;
          
    
        }
    
        .menumbicon {
            display: block;
            cursor: hand;
            cursor: pointer;
            margin-right: 20px;
            margin-top: -40px;
          
           
        }
    
        .menumbicon button{
            background-color: (73, 64, 64, 0.027);
        }
       
        .menumobile ul {
            display: flex;
            flex-direction: column;
            text-align: end;
            width: 80%;
            list-style-type: none;
           
        }
    
        .menumobile {
            position: relative;
            top: 20px;
        }
        .menumobile a {
            color: #212c2dad;
            font-weight: 600;
            text-decoration: none;
            position: relative;
            top: 15px;
        }
    
    
        .mobilemenu .nav-link {
            cursor: pointer;
        }
    
        .menumobile .nav-item {
            display: block;

        }
        .menumobile .aaa:hover {
            color:#0CAC1F;
        }
        .menumobile a:hover {
            color: #FF5B4F;
        }
        .menumobile ul li {
            margin-bottom: 20px; 
          }
        .open {
    
            display: block;
            position: absolute;
            z-index: 1;
            background-color:#e2e2e2;
            width: 100%;
            padding-bottom: 20px;
            margin: 0%;
            padding-left: 0%;
            position: relative;}

            .logomobile {
                position: relative;
                top: 30px;
                left: 40px;
                width: 20px;
               display: block;
               text-align: center ;
               justify-content: center;
               align-items: center;
            }
            .imglogo {
                width: 180px;
            }
        

        .colunadois {
            width: 40%;
            margin-right: 10%;
            margin-left: 40px;
        }

        .colunadois .img {
            width: 300px;
            animation: none;
        }

        .colunaum {
            width: 40%;
            margin-left: 200px;
        }

        .linkes {
            display: inline;
            width: 100%;
            position: relative;
            top: 20px;
        }
        .linkapple {
           
            position: relative;
            top: 10px;
           
        }

        .linkplay {
            position: relative;
            left: 27px;
        }

        .linkapplemerca {
           
            position: relative;
            top: 10px;
           
        }

        .linkplaymerca {
            position: relative;
            left: 27px;
        }

        .sobre {
            margin-top: 40%;
            flex-direction:column-reverse;
            width: 100%;
            text-align: center;
            height:1800px;
            display: block;
        }

        .linha1 {
            width: 100%;
            height: 30px;
            display: inline;
        }
        .linha2 {
            width: 80%;
            display: inline-block;
            text-align: center;
        }
        .colunatwo {
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
            display: inline;
            text-align: center;
        }
    
    
        .colunatre {
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
            display: inline;
            text-align: center;
        }
    
        .escrito3 {
            text-align: center;
        }
        .escrito4 {
            text-align: center;
        }
        .colunaone {
           margin: auto;
           position: relative;
           right: 65px;
        }
    
        .colunaone img {
            position: relative;
            margin-bottom: 50px;
            margin-left: 15px;
            margin-top: 5px;
            width: 200px;
            
        }
    
        .icon1 {
         position: relative;
         left: 44%;
         top: -1%;
        }
    
        .icon2 {
            position: relative;
         left: 44%;
         top: -1%;
        }
        .icon3 {
            position: relative;
         left: 44%;
         top: -1%;
        }
        .icon4 {
            position: relative;
         left: 44%;
         top: -1%;
        }

        .icon1merca {
            position: relative;
            left: 44%;
            top: -1%;
           }
       
           .icon2merca {
               position: relative;
            left: 44%;
            top: -1%;
           }
           .icon3merca {
               position: relative;
            left: 44%;
            top: -1%;
           }
           .icon4merca {
               position: relative;
            left: 44%;
            top: -1%;
           }

           .classeemerca {
            position: relative;
            margin-top: -20px;
            margin-bottom: -20px;
        }            
        
        .classee {
            position: relative;
            margin-top: -20px;
            margin-bottom: -20px;
            }

       
    }
      @media screen and (max-width: 800px) {
      
        
        .header {
            text-align: end;
            display:inline-block;
        }
        .open {
    
            display: block;
            position: absolute;
            z-index: 1;
            background-color:#e2e2e2;
            width: 100%;
            padding-bottom: 20px;
            margin: 0%;
            padding-left: 0%;
            position: relative;
            
       
    }


      }

      @media screen and (max-width: 1920px) {

        .logo {
            width: 170px;
           margin-right: 430px;
        }

      }

     